.articles-list
	.list
		.item
			img.lazyload(data-src="/assets/img/a1.jpg")
			.desc
				h3 
					a(href="#") Что делать если клопы завелись в диване?
				span.excerpt Постельные клопы чаще всего обитают в мягкой мебели, поскольку там тепло, много щелей, в которых можно спрятаться, а также всегда…
		.item
			img.lazyload(data-src="/assets/img/a2.jpg")
			.desc
				h3 
					a(href="#") Что делать, если от соседей ползут тараканы?
				span.excerpt В многоквартирном доме появление тараканов от соседей – самый распространенный вариант их возникновения. Часто можно наблюдать, как насекомые мигрируют из..
