.bread
	width: 1170px
	margin: 0 auto
	@media (max-width: 1170px)
		width: 90%
		//padding-left: 1rem
		margin-left: 1rem
	ul
		list-style: none
		padding-left: 0
		color: #707070
		li
			display: inline-block
			padding-right: 0.5rem
			&:after
				content: '/'
				padding-left: 0.5rem
				color: $green
			&:last-of-type 
				&:after
					content: ''
			a
				color: $green
				text-decoration: none
				&:hover
					text-decoration: underline
.wrapper
	background: $light-green
	>article
		display: flex
		width: 1170px
		margin: 0 auto
		justify-content: space-between
		@media (max-width: 1170px)
			width: 100%
		h2
			font-size: 29px
			color: #555
		.sidebar
			width: 260px
			@media (max-width: 1170px)
				display: none		
			.box
				background-color: #fff
				border-radius: 5px
				margin-bottom: 1rem 
				&.retired
					border: 1px solid $green
				&.tech
					border: 1px solid #254494
					.header
						background-color: #254494
					p
						margin: 1rem
						color: #254494
						text-align: center
				&.dog
					padding-bottom: 1rem
					border: 1px solid $green
					img
						width: 100%
					p
						color: $green
						margin: 1rem  1rem 0 1rem
						text-align: center					
				.header
					text-transform: uppercase
					background-color: #96BD28
					color: #fff
					font-weight: bold
					padding: 0.5rem
					text-align: center
					border-radius: 5px 5px 0 0
				input
					margin: 0.8rem auto
					display: block
			.articles
				span.title
					text-transform: uppercase
					color: $green
					font-weight: bold
					margin: 1rem 0
					display: block
				.list
					.item
						display: flex
						margin-bottom: 1rem
						img
							margin-right: 1rem
						a
							color: #707070
							text-decoration: none
							&:hover
								color: $green
								text-decoration: underline

					
		>.content
			width: 860px
			@media (max-width: 1170px)
				width: 100%
			.intro
				background: #fff
				box-shadow: 0 2px 4px #1111114f
				.clip-area
					height: 280px
					background: rgb(36,64,137)
					background: linear-gradient(56deg, rgba(36,64,137,1) 0%, rgba(53,107,255,1) 100%)
					display: flex
					position: relative
					border-radius: 5px 5px 0 0

					@media (max-width: 1170px)
						border-radius: 0
					@media (max-width: 890px)
						flex-direction: column-reverse
						height: auto
						overflow: hidden
						.desc
							position: absolute
							z-index: 2
							background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.20772058823529416) 59%, rgba(0,0,0,0) 100%)
							span
								text-shadow: 0 1px 1px #111
						img
							position: relative
							clip-path: none
							border-radius: 0
							width: 100%
					@media (max-width: 870px)
						.desc
							position: relative
							width: 100%
					.desc
						width: 300px
						color: #fff
						font-size: 20px
						line-height: 33px
						padding: 40px
						@media (max-width: 1170px)
							width: 40%
							padding: 35px
							padding-left: 1rem
						input[type="submit"]
							display: block
							background: transparent
							border-color: #0DA6BE
							width: 140px
							margin-top: 1rem
							&:hover
								box-shadow: 1px 1px 7px #06ddff30
								background: #1384af59
					img
						clip-path: polygon(40% 0%, 100% 0, 100% 100%, 30% 100%)
						position: absolute
						border-radius: 5px 5px 0 0
						right: -1px
						@media (max-width: 1170px)
							//position: relative 
							right: 0
				.content
					display: flex
					padding: 0 40px
					@media (max-width: 1170px)
						padding: 0 1rem
					@media (max-width: 650px)
						img
							display: none
						.desc
							margin-left: 0	 
					img
						margin-top: 2.5rem
						min-width: 127px
					.desc
						margin-left: 43px
						h1
							color: #555
							font-size: 41px
						p
							color: #707070
			.price-table
				@media (max-width: 1170px)
					h2
						margin-left: 1rem
				@media (max-width: 600px)
					overflow-x: scroll
				.tab-area
					.head
						border-bottom: 1px solid #707070
						color: #555
						span
							padding-right: 0.5rem
							display: inline-block
							margin-right: 0.5rem
							cursor: pointer
							&:first-of-type
								padding-left: 0.5rem
							&.active
								border-bottom: 1px solid $green
								padding-bottom: 4px
						input[type="submit"]
							float: right
							margin-top: -1rem
						@media (max-width: 1170px)	
							margin-right: 1rem
					.body
						.fiz
							display: flex
							.tabs
								ul
									padding-left: 0
									list-style: none
									background: #fff
									margin: 0
									width: 145px
									padding: 0.5rem
									padding-top: 1rem
									li
										margin-bottom: 1rem
										cursor: pointer
										&:hover
											color: $green
										&.active
											color: $green
						table
									border-collapse: collapse
									color: #555555
									
									thead
										color: #fff
										text-shadow: 0 1px #333
										td
											padding: 0.4rem
											text-align: center
											&:nth-of-type(1)
												background: #E9E9E9
												text-shadow: none
												color: #777

									tbody
										td
											padding: 1rem
											text-align: center
										tr:nth-of-type(2n)
											background: #E2EEC5
									&.tr4
										thead
											td:nth-of-type(2)
												background: #A8C84E
											td:nth-of-type(3)
												background: #96BD28
											td:nth-of-type(4)
												background: #71950C
											td:nth-of-type(5)
												background: #496107
									&.tr2
										width: 100%
										table-layout: fixed
										overflow-wrap: break-word
										td
											width: 100%
										thead
											tr
												height: 75px
											td:nth-of-type(2)
												background: #71950C
									&.tr3
										width: 100%
										table-layout: fixed
										overflow-wrap: break-word
										thead
											tr
												td
													&:nth-of-type(2)
														background: #96BD28
													&:nth-of-type(3)
														background: #71950C
									&.ur
										width: 100%
										table-layout: fixed
										overflow-wrap: break-word
										td
											width: 100%
										thead
											tr
												height: 75px
												td
													&:nth-of-type(2)
														background: #96BD28	
													&:nth-of-type(3)
														background: #82B100		
													&:nth-of-type(4)
														background: #71950C			
						.ur
							.warn
								background: #FACBC5
								padding: 0.8rem
								margin: 1rem 0
								p
									margin: 0
			.stages
				margin-top: 1rem
				background-color: #fff
				box-shadow: 0 2px 4px #11111161
				padding: 31px 43px
				h2
					margin-top: 0
					margin-bottom: 34px
				.list
					display: flex
					justify-content: space-between
					@media (max-width: 600px)
						flex-wrap: wrap
						.item
							margin-bottom: 1rem
					.item
						text-align: center
						position: relative
						&:after
							content: url(/assets/img/stages/next.svg)
							position: absolute
							top: 40%
							right: -65px
							@media (max-width: 700px)
								content: ''
						&:last-of-type
							&:after
								content: ''	
						span
							display: block
							font-weight: bold
							color: #707070
							margin-top: 0.5rem	
			.features
				@media (max-width: 1170px)
					h2
						padding-left: 1rem
				.list
					@media (max-width: 1170px)
						width: 100%
						margin: 0 auto

					.item
						font-weight: bold
						text-shadow: 0 2px 2px #11111159
						color: #fff
						background: #CAE18E
						display: flex
						justify-content: space-between
						align-items: center
						padding-left: 2rem
						margin: 2rem 0
						transform: skew(-20deg)

						@media (max-width: 1170px)
							transform: skew(0) !important
							span
								transform: skew(0) !important
						@media (max-width: 700px)
							justify-content: normal
							img
								display: none
						img
							margin-right: -1.5rem
							transform: skew(20deg)
						span
							transform: skew(20deg)
							font-size: 31px
							font-weight: 500	
							&.digit
								font-size: 63px
								padding-right: 1rem
			.masters
				background: #fff
				padding: 31px 43px
				h2
					margin: 0
					margin-bottom: 1rem
				.list
					display: flex
					justify-content: space-between
					@media (max-width: 1170px)
						flex-wrap: wrap
						justify-content: center
						.item
							margin: 1rem
					.item
						width: 248px
					.desc
						.header
							background: rgb(172,214,51)
							background: linear-gradient(180deg, rgba(172,214,51,1) 0%, rgba(150,189,40,1) 100%)	
							font-weight: 500
							color: #fff
							font-size: 24px
							text-align: center
							border-radius: 5px 5px 0 0
						.body
							background: #CCE38F	 
							color: #707070
							font-size: 14px
							padding: 0.8rem
			.certs, .letters
				@media (max-width: 1170px)
					h2
						margin-left: 1rem
				.list
					display: flex
					justify-content: space-between
					@media (max-width: 1170px)
						flex-wrap: wrap
						justify-content: normal
						img
							margin: 1rem
					@media (max-width: 600px)
						justify-content: center
			.certs
				.list
					img
						transform: scale(0.9)			
			.lead
				background: linear-gradient(180deg, rgba(172,214,51,1) 0%, rgba(150,189,40,1) 100%)
				margin: 2rem 0
				.inner
					width: 860px
					margin: 0 auto
					display: flex
					align-items: center
					padding: 30px 0
					@media (max-width: 1170px)
						width: 100%
					@media (max-width: 630px)
						width: 90%
						img
							display: none
						span.title
							font-size: 2rem		
				.right
					span.title
						font-size: 53px
						font-weight: bold
						color: #fff
						text-shadow: $text-shadow
						display: block
						margin-bottom: 2rem
						font
							color: red
							text-shadow: 2px 4px 7px #fff8f8
					form
						background-color: #fff
						width: 333px
						border-radius: 5px
						padding: 1.5rem
						@media (max-width: 470px)
							width: 83%
						p
							font-size: 18px
							font-weight: 500
						input[type="text"]
							display: block
							padding: 0.5rem
							border: 0
							border-bottom: 1px solid #707070
							margin-bottom: 1rem		
			.reviews
				background: #fff
				padding: 31px 43px 20px 43px
				border-radius: 5px
				box-shadow: 0 2px 4px #0000003b
				color: #707070
				margin-bottom: 2rem
				.item
					margin-bottom: 2rem
				p.title
					font-weight: 500
			>.services-list
				@media (max-width: 600px)
					h2
						margin-left: 1rem
					.list
						justify-content: space-evenly
				.list
					display: flex
					justify-content: space-between
					flex-wrap: wrap
					a
						text-decoration: none
					.item
						margin-bottom: 40px
						border: 1px solid $green
						border-radius: 6px
						transition: 0.5s all
						&:hover
							box-shadow: 0 3px 6px rgba(4, 109, 27, 0.16), 0 3px 6px rgb(117, 144, 42)
						.header
							background: $green
							color: #fff
							text-transform: uppercase
							text-align: center
							padding: 0.4rem
							font-weight: bold		
							border-radius: 5px 5px 0 0
						img
							display: block
							height: 100%
							border-radius: 0 0 5px 5px	
			>.text
				background: #fff
				box-shadow: 0 2px 4px rgba(17,17,17,.31)
				padding: 43px
				margin: 2rem 0
				@media (max-width: 600px)
					padding: 1rem
				h2
					margin: 0
				.virus
					background: #E5F0C4
					margin: 0 -43px
					padding: 1rem 43px
					position: relative
					&:after
						content: url(/assets/img/virus.png)
						position: absolute
						top: -1.5rem
						left: 1rem
						@media (max-width: 600px)
							left: 2rem
					ul
						padding-left: 0
						margin: 0
						list-style: none
						li
							font-size: 0.9rem
							line-height: 145%
							&:before
								content: "\2022"
								color: $green 
								font-weight: bold 
								display: inline-block 
								width: 1em 
								margin-left: -1em 
			>.local-photo
				@media (max-width: 890px)
					h2
						margin-left: 1rem
					.gal
						justify-content: space-evenly
						flex-wrap: wrap
						img
							margin: 1rem
				.gal
					display: flex
					justify-content: space-between
			>.articles-list
				.list
					.item
						display: flex
						background-color: #fff
						box-shadow: 0 2px 4px #1111114a
						padding: 1rem
						margin: 1rem 0
						color: #555
						transition: 0.5s all
						&:hover
							box-shadow: 0 1px 2px #1111114a
						img
							margin-right: 1rem
							align-self: start
							@media (max-width: 430px)
								display: none
						.desc
							h3
								a
									color: $green
									text-decoration: none
									&:hover
										text-decoration: underline	
			>ul.pagination
				list-style: none
				padding: 0
				margin: 0
				@media (max-width: 1170px)
					margin: 1rem
				a
					text-decoration: none
					color: $green
					padding: 0.4rem 0.6rem
					display: block
				li
					display: inline-block
					margin-right: 1rem
					border: 1px solid $green
					transition: background-color 0.5s ease-out
					border-radius: 4px
					&.active
						background: $green
						a
							color: #fff
					&:hover
						background: $green
						a
							color: #fff
			>.article-intro
				background: #fff
				box-shadow: 0 2px 4px rgba(17,17,17,.29)
				color: #555
				padding: 0 43px
				padding-bottom: 2rem
				border-radius: 0 0 5px 5px
				h1
					font-size: 41px
					margin: 1rem 0
					line-height: 49px
				.intro-image
					height: 280px
					width: calc(100%+86px)
					margin-left: -43px
					margin-right: -43px
					border-radius: 5px 5px 0 0
				ul
					list-style: none
					border-left: 2px solid $green
					font-size: 0.9rem
					padding-left: 1rem
					li
						line-height: 1.4rem
	.mobile-menu
		display: none
		&.open
			display: block
		position: fixed
		top: 0
		background: $green
		z-index: 2
		min-height: 100vh
		min-width: 50vw
		padding: 1rem
		.line
			display: flex
			justify-content: space-between
			align-items: center
			border-bottom: 1px solid lighten($green, 10%)
			color: #fff
			padding-bottom: 0.5rem
			margin-bottom: 0.5rem
			box-shadow: 0px 1px 0px #7ea01d
			flex-direction: row-reverse
			@media (max-width: 420px)
				img.close
					display: none
		ul
			list-style: none
			margin: 0
			padding: 0
			li
				//line-height: 2rem
				a
					padding: 1rem 0
					display: inline-block
		a
			color: #fff
			text-decoration: none
			text-transform: uppercase
			

