.certs
	h2 Сертификаты
	.list
		img.lazyload(data-src="/assets/img/cert2.jpg")
		img.lazyload(data-src="/assets/img/cert.jpg")
		img.lazyload(data-src="/assets/img/cert.jpg")
		img.lazyload(data-src="/assets/img/cert.jpg")
.letters
	h2 Благодарственные письма
	.list
		img.lazyload(data-src="/assets/img/letters/01.jpg")
		img.lazyload(data-src="/assets/img/letters/02.jpg")
		img.lazyload(data-src="/assets/img/letters/03.jpg")
		img.lazyload(data-src="/assets/img/letters/04.jpg")