.features
	h2 Преимущества нашей работы
	.list
		.item
			span.digit 1
			span Мы готовы сделать для вас больше
			img.lazyload(src="/assets/img/features/01.png")
		.item
			span.digit 2
			span Мы предоставляем гарантии
			img.lazyload(src="/assets/img/features/02.png")
		.item
			span.digit 3
			span Мы заботимся о вашей безопасности
			img.lazyload(src="/assets/img/features/03.png")
		.item
			span.digit 4
			span Мы экономим ваши деньги
			img.lazyload(src="/assets/img/features/04.png")