.masters
	h2 Наши специалисты
	.list
		.item
			img.lazyload(data-src='/assets/img/masters/m1.jpg')
			.desc
				.header Вадим Полозков
				.body
					span Опыт работы 14 лет, 6 лет работал в «Центре гигиены и эпидемиологии» в Москве. Профессиональное образование, инструктор-дезинфектор.

		.item
			img.lazyload(data-src='/assets/img/masters/m2.jpg')
			.desc
				.header Сергей Лукъянов
				.body
					span Опыт работы 5 лет. Профессиональное образование по направлению «Дезинфекционное дело», дезинфектор.
		.item
			img.lazyload(data-src='/assets/img/masters/m3.jpg')
			.desc
				.header Василий Кириллов
				.body
					span Опыт работы 7 лет. Профессиональное образование по направлению «Дезинфекционное дело», дезинфектор.
				

	