.price-table
	h2 Цены на услуги

	.tab-area
		.head
			span.fiz.active Физ. лица
			span.ur Юр. лица
			input(type="submit" value="Заказать")
		.body
			.fiz
				.tabs
					ul
						li.flat.active Квартиры
						li.cottage Загородные дома, коттеджи
						li.sad Садовые участки
						li Бытовки, вагончики
				.content.flat(style="display: none")
					table.tr4
						thead
							tr
								td Размер помещения
								td Холодный туман
								td Холодный туман <br> <small>+ барьерная защита</small>
								td Горячий туман <br> <small>+ барьерная защита</small>
								td Горячий и холодный туман <br> <small>+ барьер</small>
						tbody
							tr
								td 1-комн.
								td 1600 р.		
								td 2500 р.		
								td 3800 р.		
								td 5300 р.	
							tr
								td 2-комн.
								td 1700 р.		
								td 2700 р.		
								td 3900 р.		
								td 6000 р.
							tr
								td 3-комн.
								td 1900 р.		
								td 2900 р.		
								td 4300 р.		
								td 6400 р.
				.content.cottage(style="display: none")
					table.tr2
						thead
							tr
								td Площадь участка
								td Стоимость
						tbody
							tr
								td До 3х соток
								td от 3000 руб.
							tr
								td от 3х до 5 соток	
								td от 4500 руб.
							tr
								td от 5х до 10 соток	
								td от 6200 руб.
				.content.sad
					table.tr3
						thead
							tr
								td Размер помещения
								td Поилки с приманками пролонгированого действия с мумифицирующим эффектом
								td +дополнительная обработка газом с отпугивающим препаратом
						tbody
							tr
								td 1-комн.
								td 1600 р.
								td 3800 р.
							tr
								td 2-комн.
								td 1600 р.
								td 3800 р.
							tr
								td 3-комн.
								td 1600 р.
								td 3800 р.



							
			.ur(style="display: none")
				table.ur
					thead
						tr
							td Площадь				
							td Однократная обработка
							td Раз в квартал
							td Раз в месяц
					tbody
						tr
							td 50 - 100 м<sup>2</sup>
							td 2700 р.
							td от 2300 р.
							td от 2100 р.
						tr
							td 100 - 300 м<sup>2</sup>
							td 30 р. / м<sup>2</sup>
							td от 25 р. / м<sup>2</sup>
							td от 23 р. / м<sup>2</sup>
				p В соответствии с Федеральным Законом №52 — ФЗ «О санитарно-эпидемиологическом благополучии населения» все организации обязаны регулярно проводить дезинсекцию и дератизацию своих объектов. 
				p Даже если у вас не было и нет крыс, мышей, тараканов или других паразитов и вредителей, то это <b>не освобождает</b> вас от необходимости иметь действующий договор со специализированной службой.
				.warn
					p При отсутствии договора дератизации и дезинсекции на организацию может быть наложен <b>запрет на деятельность</b> до 90 суток и штраф до 20 000 руб			