.price-table
	h2 Цены на услуги

	.tab-area
		.head
			span.fiz.active Физ. лица
			span.ur Юр. лица
			input(type="submit" value="Заказать")
		.body
			.fiz
				.tabs
					ul
						li.active Квартиры
						li Загородные дома, коттеджи
						li Садовые участки
						li Бытовки, вагончики
				.content
					table.tr4
						thead
							tr
								td Размер помещения
								td Холодный туман
								td Холодный туман <br> <small>+ барьерная защита</small>
								td Горячий туман <br> <small>+ барьерная защита</small>
								td Горячий и холодный туман <br> <small>+ барьер</small>
						tbody
							tr
								td 1-комн.
								td 1600 р.		
								td 2500 р.		
								td 3800 р.		
								td 5300 р.	
							tr
								td 2-комн.
								td 1700 р.		
								td 2700 р.		
								td 3900 р.		
								td 6000 р.
							tr
								td 3-комн.
								td 1900 р.		
								td 2900 р.		
								td 4300 р.		
								td 6400 р.		

							
			.ur(style="display: none")
				p Юр				