.reviews
	h2 Отзывы
	.item
		p.title Евлампия Романовна, Красногорск
		span Сил больше нет. уже второй год подряд страдаем от клопов. Соседка по даче порекомендовала обратиться в службу дезинфекции и заказать услугу холодным туман. Подскажите, что это за процедура обработки помещений от клопов и как нужно подготовить нашу дачу к вашему приезду? Сколько времени займёт ваша работа?
	.item
		p.title Евлампия Романовна, Красногорск
		span Сил больше нет. уже второй год подряд страдаем от клопов. Соседка по даче порекомендовала обратиться в службу дезинфекции и заказать услугу холодным туман. Подскажите, что это за процедура обработки помещений от клопов и как нужно подготовить нашу дачу к вашему приезду? Сколько времени займёт ваша работа?