.sidebar
	img(src="/assets/img/1445.png")
	.retired.box
		.header скидка пенсионерам
		img(src="/assets/img/ret.jpg")
		input(type="submit" value="Получить")
	.tech.box
		.header современные технологии
		img(src="/assets/img/ym.jpg")
		p и многолетний опыт наших специалистов гарантируют <font color="#EC0018">качественный результат</font>
	.dog.box
		.header заключаем договор
		img(src="/assets/img/dog.jpg")
		p <font color="#EC0018">с каждым</font> нашим клиентом мы заключаем договор
	.articles
		span.title полезные статьи
		.list
			.item
				img.lazyload(data-src="/assets/img/art1.jpg")
				a(href="#") Что делать если клопы завелись в вашем диване?
			.item
				img.lazyload(data-src="/assets/img/art2.jpg")
				a(href="#") Переносят ли насекомые ВИЧ-инфекцию?
				
