.stages
	h2 Этапы работы
	.list
		.item
			img.lazyload(data-src="/assets/img/stages/01.svg")
			span Тщательный <br/>анализ
		.item
			img.lazyload(data-src="/assets/img/stages/02.svg")
			span Подбор <br/>препаратов
		.item
			img.lazyload(data-src="/assets/img/stages/03.svg")
			span Процесс <br/>обработки	
		.item
			img.lazyload(data-src="/assets/img/stages/04.svg")
			span Мониторинг <br/>результата
