.article-intro
	.intro-image(style="background-image: url(/assets/img/ms.jpg)")
	h1 Что делать, если от соседей ползут тараканы?	
	p Наша компания оказывает услуги дезинсекции в Москве и Московской области. Работы проводятся на территориях любых объектов: от квартир и частных домов до офисных помещений, промышленных и складских комплексов. Для борьбы с насекомыми применяются современные препараты, которые являются безвредными для здоровья людей и домашних животных. Воспользовавшись нашим предложением, вы сможете получить желаемый результат в короткие сроки.
	p Наша компания оказывает услуги дезинсекции в Москве и Московской области. Работы проводятся на территориях любых объектов: от квартир и частных домов до офисных помещений, промышленных и складских комплексов. Для борьбы с насекомыми применяются современные препараты, которые являются безвредными для здоровья людей и домашних животных. Воспользовавшись нашим предложением, вы сможете получить желаемый результат в короткие сроки

	ul
		li Error expedita exercitationem aut a vero quae molestias cupiditate iure ex libero. 
		li Eligendi cupiditate tempora voluptatibus
		li Consectetur adipisicing elit.
		li Lorem ipsum dolor sit amet, Commodi mollitia optio debitis consectetur quis quam, incidunt quas earum atque sint! Facilis numquam provident assumenda illum sapiente eveniet necessitatibus! Adipisci quos expedita distinctio doloribus at libero ipsum quaerat deserunt.