.main-cert
	h2 Сертификаты
	.inner
		img.lazyload(data-src="/assets/img/cert.jpg")
		img.lazyload(data-src="/assets/img/cert.jpg")
		img.lazyload(data-src="/assets/img/cert.jpg")
		img.lazyload(data-src="/assets/img/cert.jpg")