.main-faq
	h2 Часто задаваемые вопросы
	.list
		details(open="open")
			summary Безопасна ли дезинфекция для человека и домашних питомцев?
			.desc
				span <b>Безопасность и эффективность</b> - основные критерии нашей работы. Использование качественных сертифицированных препаратов и современного оборудования позволяет полностью обезопасить людей, домашних животных и комнатные растения. После завершения сан. обработки, помещение желательно проветрить в течение 30-40 минут.
		details
			summary Безопасна ли дезинфекция для человека и домашних питомцев?
			.desc
				span Да	
		details
			summary Сколько времени занимает сан. обработка квартиры?
			.desc
				span от 1 часа до 1 дня
		h3 Остались вопросы?
		span.underh3 Получите бесплатную консультацию специалиста
		input.inverted(type="submit" value="Получить")