.main-prices.lazyload(data-bg="/assets/img/back4.jpg")
	h2 Наши цены
	.pselect
		span Выберите услугу
		select
			option Дератизация
			option Дезинсекция
	.list
		.item
			span.type 1-комнатная квартира
			span.price 1500 руб.
			ul
				li Срочный выезд
				li Круглосуточно
				li Конфиденциально
				li Гарантия до 2х лет
			input(type="submit" value="Заказать") 	
		.item
			span.type 2-комнатная квартира
			span.price 1700 руб.
			ul
				li Срочный выезд
				li Круглосуточно
				li Конфиденциально
				li Гарантия до 2х лет
			input(type="submit" value="Заказать") 
		.item
			span.type 3-комнатная квартира
			span.price 1900 руб.
			ul
				li Срочный выезд
				li Круглосуточно
				li Конфиденциально
				li Гарантия до 2х лет
			input(type="submit" value="Заказать") 
		.item
			span.type Кухня, ванная, туалет
			span.price 1300 руб.
			ul
				li Срочный выезд
				li Круглосуточно
				li Конфиденциально
				li Гарантия до 2х лет
			input(type="submit" value="Заказать") 	

