.main-slider
	.inner
		.slogan
			h1 Уничтожение <a href="#">вирусов</a>, бактерий,<br> плесени,<br> запахов, <br>насекомых и грызунов от 1500 руб!
		.panels
			.review
				span <font color="#333">DEZ 21 век</font> - это команда профессионалов, готовых  применить свои знания и опыт для решения поставленных задач
				span.reviewer Илья, врач-микробиолог
			form.lead
				span Оставьте заявку и получите консультацию и точный расчет стоимости:
				input(type="text" placeholder="Ваш телефон" required)
				input(type="submit" value="Отправить")
					
		.person
			<picture>
				<source srcset="/assets/img/487.webp" type="image/webp">
				<source srcset="/assets/img/487.png" type="image/png"> 
				<img src="/assets/img/487.png" >
			</picture>
