.why
	.inner
		.left
			.badge
				img.lazyload(data-src="/assets/img/badge.png" width="137" height="140" loading="lazy")
				span Гарантия <br>2 года
			picture
				source(data-srcset='/assets/img/master2.webp' type='image/webp')
				source(data-srcset='/assets/img/master2.png' type='image/png')
				img.lazyload(data-src='/assets/img/master2.png')
		.right
			h2 Почему выбирают нас?
			.list
				.item
					img.lazyload(data-src="/assets/img/why-icons/shield.svg")
					p Мы заботимся о репутации клиентов: наши мастера работают тихо, после обработки нет запаха	
				.item
					img.lazyload(data-src="/assets/img/why-icons/flask.svg")
					p Применяем только cертифицированные и безопасные препараты
				.item
					img.lazyload(data-src="/assets/img/why-icons/pdf.svg")
					p Гарантируем качество - работы выполняются по договору
				.item
					img.lazyload(data-src="/assets/img/why-icons/medal.svg")
					p Все мастера проходят аттестацию
					