footer
	.map#googlemap
		iframe.lazyload(data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.7307542071962!2d37.50871421608847!3d55.745806999998784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54958e11b9441%3A0x6ce5e8825ed49abb!2z0JHQsNCz0YDQsNGC0LjQvtC90L7QstGB0LrQuNC5INC_0YAt0LQsIDgsINC6Miwg0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8sIDEyMTA4Nw!5e0!3m2!1sru!2sby!4v1590059338469!5m2!1sru!2sby" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
	.scripts-area
	.nav-area
		.inner
			nav
				.item
					span.header Услуги
					ul
						li
							a(href="#") Дезинфекция
						li
							a(href="#") Дезинсекция
						li
							a(href="#") Дератизация
						li
							a(href="#") Дезодорация
				.item
					span.header Навигация
					ul
						li
							a(href="#") О нас
						li
							a(href="#") Сертификаты
						li
							a(href="#") Акции
						li
							a(href="#") Цены
						li
							a(href="#") Статьи
						li
							a(href="#") Контакты
				.item
					span.header Свяжитесь с нами
					span.tel
						a(href="tel:+79257816263") +7 925 781 62 63
					.iconset
						a(href="viber://chat/?number=%2B79257816263")
							img.viber.lazyload(data-src="/assets/img/viber.png")
						a(href="https://api.whatsapp.com/send?phone=79257816263")
							img.wa.lazyload(data-src="/assets/img/whatsapp.svg")
						img.lazyload(data-src="/assets/img/clock-icon.svg")
						span 24/7
					span.cb Заказать звонок
			.desc
				span Обращаем ваше внимание на то, что данный интернет - сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой
				span © 2020 - Единый центр Дезинфекции
	.modal-wrap
		.callback
			span.close &times;
			form
				p Оставьте свой номер и мы вам расскажем подробнее про цены
				input(type="text" placeholder="+375 29 xxx xx xx" required)
				input(type="submit" value="Отправить")