header
	.inner
		.logo
			img(src="/assets/img/logo.png")
			.desc
				span.gold 21 век
				span.desc Единый центр дезинфекции	
		.address
			p <img src="/assets/img/map-pointer.svg">г. Москва, Багратионовский проезд, 8 к2 <a href="#googlemap">показать на карте</a>
			ul
				li 
					a(href="#") о нас
				li 
					a.active(href="#") сертификаты
				li.discount
					a(href="#") акции
				li
					a(href="#") цены
				li
					a(href="#") контакты

		.tel
			span.maintel
				a(href="tel:+79257816263") +7 925 781 62 63
			.iconset
				a(href="viber://chat/?number=%2B79257816263")
					img.viber(src="/assets/img/viber.png")
				a(href="https://api.whatsapp.com/send?phone=79257816263")
					img.wa(src="/assets/img/whatsapp.svg")
				img(src="/assets/img/clock-icon.svg")
				span 24/7
nav
	.inner
		ul
			li.all
				img(src="/assets/img/nav-icons/dots.svg")
				a(href="#") все услуги
			li.active
				a(href="#") дезинфекция
				img(src="/assets/img/nav-icons/virus.png")
			li
				a(href="#") дезинсекция
				img(src="/assets/img/nav-icons/ant.png")
			li
				a(href="#") дератизация
				img(src="/assets/img/nav-icons/rat.png")
			li.dz
				a(href="#") дезодорация
				img(src="/assets/img/nav-icons/socks.svg")
			li
				a(href="#") фумигация
				img(src="/assets/img/nav-icons/plant.png")
			li.call заказать звонок	