header
	.inner
		.logo
			a(href="/")
				img(src="/assets/img/logo.png")
			.desc
				span.gold 21 век
				span.desc Единый центр дезинфекции	
		.address
			p <img src="/assets/img/map-pointer.svg">г. Москва, Багратионовский проезд, 8 к2 <a href="#googlemap">показать на карте</a>
			ul
				li 
					a(href="#") о нас
				li 
					a.active(href="#") сертификаты
				li.discount
					a(href="#") акции
				li
					a(href="#") цены
				li
					a(href="#") контакты

		.tel
			span.maintel
				a(href="tel:+79257816263") +7 925 781 62 63
			.iconset
				a(href="viber://chat/?number=%2B79257816263")
					img.viber(src="/assets/img/viber.png")
				a(href="https://api.whatsapp.com/send?phone=79257816263")
					img.wa(src="/assets/img/whatsapp.svg")
				img(src="/assets/img/clock-icon.svg")
				span 24/7
		#nav-icon2
			span
			span
			span
			span
			span
			span
nav
	.inner
		ul.level-zero
			li.all
				img(src="/assets/img/nav-icons/dots.svg")
				a(href="#") все услуги
				ul.level-one(style="display: none")
					li.hasChild
						a(href="#") дезинфекция
						ul.level-two(style="display: none")
							li
								a(href="#") Обработка от плесени
							li
								a(href="#") Дезинфекция транспорта
							li
								a(href="#") Дезинфекция бань и саун
							li
								a(href="#") Удаление грибка

					li.hasChild
						a(href="#") дезинсекция
						ul.level-two(style="display: none")
							li
								a(href="#") Уничтожение тараканов
							li
								a(href="#") Уничтожение клещей
							li
								a(href="#") Уничтожение клопов
							li
								a(href="#") Уничтожение мух
					li
						a(href="#") дератизация
					li
						a(href="#") дезодорация
					li
						a(href="#") фумигация
			li.active
				a(href="#") дезинфекция
				img(src="/assets/img/nav-icons/virus.png")
			li
				a(href="#") дезинсекция
				img(src="/assets/img/nav-icons/ant.png")
			li
				a(href="#") дератизация
				img(src="/assets/img/nav-icons/rat.png")
			li.dz
				a(href="#") дезодорация
				img(src="/assets/img/nav-icons/socks.png")
			li
				a(href="#") фумигация
				img(src="/assets/img/nav-icons/plant.png")
			li.call заказать звонок
				form(style="display: none")
					span.close &times;
					span.slogan Оставьте свой телефон и мы вам перезвоним
					input(type="text" placeholder="Ваш телефон" required)
					input(type="submit" value="Отправить")