.mobile-menu
	.line
		a(href="viber://chat/?number=%2B79257816263")
			img(src="/assets/img/viber.png")
		a(href="https://api.whatsapp.com/send?phone=79257816263")
			img(src="/assets/img/whatsapp.svg")
		span Заказать звонок
		img.close(src="/assets/img/close.svg" width="15")  
	ul
		li.wrap
			a(href="#") Услуги
		li
			a(href="#") Контакты
		li
			a(href="#") Сертификаты
		li
			a(href="#") О нас
		li
			a(href="#") Акции
		li
			a(href="#") Цены
