.intro
	.content
		img(src="/assets/img/drova.jpg" width="127" height="127")
		.desc
			h1 История компании
			p Наша компания оказывает услуги дезинсекции в Москве и Московской области. Работы проводятся на территориях любых объектов: от квартир и частных домов до офисных помещений, промышленных и складских комплексов. Для борьбы с насекомыми применяются современные препараты, которые являются безвредными для здоровья людей и домашних животных. Воспользовавшись нашим предложением, вы сможете получить желаемый результат в короткие сроки.	