.local-photo
	h2 Фотографии с места выполненных работ
	.gal
		a(href="/assets/img/local-photo/b01.jpg" data-fancybox="gallery")
			img.lazyload(data-src="/assets/img/local-photo/m01.jpg")
		a(href="/assets/img/local-photo/b02.jpg" data-fancybox="gallery")
			img.lazyload(data-src="/assets/img/local-photo/m02.jpg")
		a(href="/assets/img/local-photo/b03.jpg" data-fancybox="gallery")
			img.lazyload(data-src="/assets/img/local-photo/m03.jpg")
		a(href="/assets/img/local-photo/b04.jpg" data-fancybox="gallery")
			img.lazyload(data-src="/assets/img/local-photo/m04.jpg")