.text
	h2 Какие еще услуги вы можете у нас заказать?
	p Доверьте проведение дезинфекции профессионалам. Мы предоставляем подобные услуги уже не первый год и за время существования организации заслужили авторитет и положительную репутацию. У нас санитарная обработка автомобиля стоит недорого, мы всегда предлагаем цены ниже, чем у конкурентов. Дезинфекция транспортных средств может проходить как целиком, так и в отдельных его составляющих. Все процедуры выполняются профессионалами, что обеспечивает безупречный результат.
	
	.virus
		ul
			li Выезд на объект производится оперативно, в удобное для клиента время;
			li Работа ведется по разовым заявкам и на основании долгосрочного договора;
			li Материально-техническое оснащение организации и специалистов на достойном уровне – качественно обрабатываем даже сложные объекты.

	p Защита складских помещений от вредителей должна проводиться профессионалами. В противном случае владелец рискует потерять свою продукцию. Мероприятия имеют право проводить лишь те специалисты, которые прошли обучение, что подтверждено специальным сертификатом.		
