include ../utils/mixins
block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    link(rel="preload" as="font" type="font/woff2" href="/assets/fonts/roboto-v20-latin_cyrillic-regular.woff2" crossorigin)
    block head

  body(class=pageClass)
    .wrapper
      include ../includes/modules/header
      include ../includes/modules/services/bread
      article
        .content
          h1 Полезные статьи
          include ../includes/modules/articles/articles-list
          include ../includes/modules/pagination
           
        .sidebar
          include ../includes/modules/service/sidebar
       

      include ../includes/modules/footer
      include ../includes/modules/mobile-menu
    block script