include ../utils/mixins
block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    link(rel="preload" as="font" type="font/woff2" href="/assets/fonts/roboto-v20-latin_cyrillic-regular.woff2" crossorigin)  
    block head

  body(class=pageClass)
    .wrapper
      include ../includes/modules/header
      include ../includes/modules/main/slider
      include ../includes/modules/main/why
      include ../includes/modules/main/prices
      include ../includes/modules/main/faq
      include ../includes/modules/main/cert

      include ../includes/modules/footer

    block script