include ../utils/mixins
block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")
    block head

  body(class=pageClass)
    .wrapper
      include ../includes/modules/header
      include ../includes/modules/service/bread
      article
        .content
          include ../includes/modules/service/intro
          include ../includes/modules/service/price
          include ../includes/modules/service/stages
          include ../includes/modules/service/main-content
          include ../includes/modules/service/features
          include ../includes/modules/service/masters
          include ../includes/modules/service/certs
          include ../includes/modules/service/lead
          include ../includes/modules/service/reviews
           
        .sidebar
          include ../includes/modules/service/sidebar
       

      include ../includes/modules/footer

    block script