.intro
	.clip-area
		.desc
			span Услуги по дератизации с выездом по Москве <br>и области
			input(type="submit" value="Заказать")
		img(src="/assets/img/013.jpg")
	.content
		img(src="/assets/img/mouse.jpg" width="127" height="127")
		.desc
			h1 Дератизация в Москве и области
			p Фумигация древесины или, другими словами, её обеззараживание представляет собой технологию санитарной зачистки возбудителей болезней и вредителей растения посредством применения специальных газов или паров — так называемых фумигантов. Этот процесс является обязательным для транспортировки материалов растительного происхождения и безопасного их применения. Кроме того, даже отправка за границу груза, упакованного в деревянную тару, невозможна без проведения фитосанитарной обработки. Сертификат ISPM 15 и соответствующий штамп фумигации на ящиках дают основания таможенникам оформлять документы на экспорт продукции. 	