.services-list
	h2 Услуги по дезинфеции
	.list
		a(href="#")
			.item
				.header Уничтожение тараканов
				img.lazyload(data-src="/assets/img/s-list/01.jpg")
		a(href="#")
			.item
				.header Уничтожение клопов
				img.lazyload(data-src="/assets/img/s-list/02.jpg")
		a(href="#")
			.item
				.header Уничтожение муравьев
				img.lazyload(data-src="/assets/img/s-list/03.jpg")
		a(href="#")
			.item
				.header Уничтожение тараканов
				img.lazyload(data-src="/assets/img/s-list/01.jpg")
		a(href="#")
			.item
				.header Уничтожение клопов
				img.lazyload(data-src="/assets/img/s-list/02.jpg")
		a(href="#")
			.item
				.header Уничтожение муравьев
				img.lazyload(data-src="/assets/img/s-list/03.jpg")